<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <title>WeatherApp</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="/"><h1><i class="fa-solid fa-cloud" id="nuvemLogo"></i> WeatherApp</h1></a>
        </div>
        <div id="search">
            <form action="/previsao" method="GET">
                <input type="text" name="input_search" id="input_search" placeholder="Busque pelo nome da cidade">
                <input type="button" id="input_search_button" value="Buscar">
            </form>
        </div>
        <nav id="navigation_bar">
            <ul>
                <li><a href=""><i class="fa-solid fa-house"></i>INÍCIO</a></li>
                <li><a href=""><i class="fa-solid fa-circle-info"></i>SOBRE</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <script src="https://kit.fontawesome.com/df87a55f2a.js" crossorigin="anonymous"></script>
    <footer>
        Desenvolvido por <strong>Moacir David</strong>. API consumida: <a href="https://www.weatherapi.com/" target="_blank"><strong>Weather API</strong></a>
    </footer>
    </body>
</html>