<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <title>WeatherApp</title>
</head>
<body>
    <header>
        <div id="logo">
            <h1><i class="fa-solid fa-cloud" id="nuvemLogo"></i> WeatherApp</h1>
        </div>
        <nav id="navigation_bar">
            <ul>
                <li><a href=""><i class="fa-solid fa-house"></i>INÍCIO</a></li>
                <li><a href=""><i class="fa-solid fa-cloud-sun"></i>PREVISÃO</a></li>
                <li><a href=""><i class="fa-solid fa-circle-info"></i>SOBRE</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <script src="https://kit.fontawesome.com/df87a55f2a.js" crossorigin="anonymous"></script></body>
</html>